<div class="form-wrap">
  <div class="form-content">
    <div class="form-title"><%= image_tag('contact/confirm-title.png', class: 'form-title-img sm-max-img') %></div>
    <ul class="form-attention-text text-center">
      <li>入力内容をご確認ください。</li>
      <li>問題なければ送信ボタンを、誤りがあれば修正ボタンを押してください。</li>
    </ul>
    <div class="form-box">
      <div class="form form-border">
        <div class="form-margin-left">
          <div class="form-text form-label">
            お問い合わせタイプ
            <span class="badge rounded-pill badge-alert">必須</span>
          </div>
          <div class="form-label form-text">
            <%= @contact.contact_type_text %>
          </div>
        </div>
      </div>
      <div class="form form-border">
        <div class="form-margin-left">
          <div class="form-text form-label">
            メールアドレス
            <span class="badge rounded-pill badge-alert">必須</span>
          </div>
          <div class="form-label form-text">
            <%= @contact.email %>
          </div>
        </div>
      </div>
      <div class="form form-border">
        <div class="form-margin-left">
          <div class="form-text form-label">
            返信を
            <span class="badge rounded-pill badge-alert">必須</span>
          </div>
          <div class="form-label form-text">
            <%= @contact.callback_requested_text %>
          </div>
        </div>
      </div>
      <div class="form form-border">
        <div class="form-margin-left">
          <div class="form-text form-label">
            お問い合わせ内容
            <span class="badge rounded-pill badge-alert">必須</span>
          </div>
          <div class="form-label form-text">
            <%= @contact.message %>
          </div>
        </div>
      </div>
    </div>
    <h3 class="text-center fw-bold form-title2">お客様情報</h3>
    <p class="text-center fw-bold form-subtitle">※ 弊社からの返答・返信をご希望の場合は必ずご記入ください。</p>
    <div class="form-box">
      <div class="form form-border">
        <div class="form-margin-left">
          <div class="form-text form-label">
            連絡方法
            <span class="badge rounded-pill text-bg-success">任意</span>
          </div>
          <div class="form-label form-text">
            <%= @contact.contact_method_text.blank? ? "記入なし" : @contact.contact_method_text %>
          </div>
        </div>
      </div>
      <div class="form form-border">
        <div class="form-margin-left">
          <div class="form-text form-label">
            お名前
            <span class="badge rounded-pill text-bg-success">任意</span>
          </div>
          <div class="form-label form-text">
            <%= @contact.name.blank? ? "記入なし" : @contact.name %>
          </div>
        </div>
      </div>
      <div class="form form-border">
        <div class="form-margin-left">
          <div class="form-text form-label">
            フリガナ
            <span class="badge rounded-pill text-bg-success">任意</span>
          </div>
          <div class="form-label form-text">
            <%= @contact.name_kana.blank? ? "記入なし" : @contact.name_kana %>
          </div>
        </div>
      </div>
      <div class="form form-border">
        <div class="form-margin-left">
          <div class="form-text form-label">
            お電話番号
            <span class="badge rounded-pill text-bg-success">任意</span>
          </div>
          <div class="form-label form-text">
            <%= @contact.phone_number.blank? ? "記入なし" : @contact.phone_number %>
          </div>
        </div>
      </div>
    </div>

    <%= form_with model: @contact, local: true do |f| %>
      <%= f.hidden_field :contact_type %>
      <%= f.hidden_field :message %>
      <%= f.hidden_field :email %>
      <%= f.hidden_field :callback_requested %>
      <%= f.hidden_field :contact_method %>
      <%= f.hidden_field :name %>
      <%= f.hidden_field :name_kana %>
      <%= f.hidden_field :phone_number %>

      <ul class="form-btn-box form-flex">
        <li class="list-inline-item"><%= f.submit "修正する", name: "back", class: 'user-btn form-fix-btn  form-confirm-btn' %></li>
        <li class="list-inline-item"><%= f.submit "送信する", class: 'user-btn form-btn form-confirm-btn' %></li>
      </ul>
    <% end %>
  </div>
</div>



