<footer class="footer">
  <div class="footer-content-box d-flex">
    <div class="footer-content1">
      <div class="footer-img">
        <%= image_tag('footer/Icon.png', width: '241px', height: '43px') %>
      </div>
      <div class="footer-text1">
        株式会社LBrestaurant
      </div>
      <div class="footer-text2">
        〒553-0006<br>
        大阪府大阪市福島区吉野３丁目８番３号
      </div>
    </div>
    <div class="footer-content2">
      <div class="footer-link-box">
        <div class="footer-link1"><%= link_to "Lbrの特徴", lbr_index_path %></div>
        <div class="footer-link2"><%= link_to "採用情報", lbr_index_path %></div>
      </div>
      <div class="footer-link-box">
        <div class="footer-link1"><%= link_to "お知らせ", lbr_index_path %></div>
        <div class="footer-link2"><%= link_to "会社概要", lbr_index_path %></div>
      </div>
      <div class="footer-link-box">
        <div class="footer-link1"><%= link_to "ブログ", lbr_index_path %></div>
        <div class="footer-link2"><%= link_to "お問い合わせ", lbr_index_path %></div>
      </div>
    </div>
  </div>
  <div class="footer-content-box2">
    <%= image_tag('footer/Ltd.png') %>
  </div>
</footer>
