<header class="header  fixed-top">
  <nav class="navbar navbar-expand-lg navbar-light bg-white align-items-center">
    <div class="header-sm">
      <%= link_to "LBrestaurant", root_path, class: "navbar-brand navbar-brand-sm fw-bold logo header-mobile-text" %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="header-linklist collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item active ms-5">
          <%= link_to " 会社情報", companies_path, class: "nav-link fw-bold #{'active' if controller_name == 'campanies' && ['show'].include?(action_name)}" %>
        </li>
        <li class="nav-item ms-5">
          <%= link_to "店舗情報", shops_path, class: "nav-link fw-bold #{'active' if controller_name == 'shops' && ['index'].include?(action_name)}" %>
        </li>
        <li class="nav-item ms-5">
          <%= link_to "お知らせ", news_index_path, class: "nav-link fw-bold #{'active' if controller_name == 'news' && ['show', 'index'].include?(action_name)}" %>
        </li>
        <li class="nav-item ms-5">
          <%= link_to "ブログ", articles_path , class: "nav-link fw-bold #{'active' if controller_name == 'articles' && ['show', 'index'].include?(action_name)}" %>
        </li>
        <li class="nav-item ms-5">
          <%= link_to "採用情報", job_entries_path , class: "nav-link fw-bold #{'active' if controller_name == 'job_entries' && ['show', 'recruitment_info', 'confirm', 'complete', 'faq'].include?(action_name)}" %>
        </li>
        <li class="nav-item ms-5">
          <%= link_to "問い合わせ", new_contact_path , class: "nav-link fw-bold #{'active' if controller_name == 'contacts' && ['new', 'confirm', 'complete'].include?(action_name)}" %>
        </li>
      </ul>
    </div>
  </nav>
</header>
