<header class="header fixed-top">
  <nav class="navbar navbar-expand-lg navbar-light bg-white align-items-center">
    <div class="header-sm">
      <%= link_to(root_path) do %>
        <%= image_tag('Icon.png', width: '291px', height: '53px') %>
      <% end %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="header-linklist collapse navbar-collapse active" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <%= link_to "Lbrの特徴", lbr_index_path, class: "nav-link #{'active' if controller_name == 'lbr' && ['company'].include?(action_name)}" %>
        </li>
        <li class="nav-item">
          <%= link_to "求職者のみなさまへ", message_lbr_index_path, class: "nav-link #{'active' if controller_name == 'lbr' && ['message', 'staff_interview'].include?(action_name)}" %>
        </li>
        <li class="nav-item">
          <%= link_to "ニュース", news_index_path, class: "nav-link #{'active' if controller_name == 'news' && ['show', 'index', 'article'].include?(action_name)}" %>
        </li>
        <li class="nav-item">
          <%= link_to "採用情報", job_entries_path , class: "nav-link #{'active' if controller_name == 'job_entries' && ['new', 'confirm', 'complete','show'].include?(action_name)}" %>
        </li>
        <li class="nav-item">
          <%= link_to "会社について", company_index_path, class: "nav-link  #{'active' if controller_name == 'company' && ['show'].include?(action_name)}" %>
        </li>
        <li class="nav-item">
          <%= link_to "お問い合わせ", new_contact_path , class: "nav-link #{'active' if controller_name == 'contacts' && ['new', 'confirm', 'complete'].include?(action_name)}" %>
        </li>
      </ul>
    </div>
  </nav>
</header>
