<div class="mb-4">
  <%= f.label :calendar_date, class: "form-label" %>
  <span class="badge rounded-pill text-bg-danger">必須</span>
  <%= f.date_field :calendar_date, class: 'form-control', **@calendar_date_options, value: f.object.calendar_date %>
  <%= show_error_messages(f.object, :calendar_date) %>
</div>

<div class="mb-4">
  <%= f.label :title, class: "form-label" %>
  <span class="badge rounded-pill text-bg-danger">必須</span>
  <%= f.text_field :title, class: 'form-control', value: f.object.title, placeholder: "タイトルを入力" %>
  <%= show_error_messages(f.object, :title) %>
</div>

<div class="mb-4">
  <%= f.label :start_at, class: "form-label" %>
  <span class="badge rounded-pill text-bg-danger">必須</span>
  <%= f.datetime_field :start_at, class: 'form-control', **@start_at_options, value: f.object.start_at&.strftime("%Y-%m-%dT%H:%M") %>
  <%= show_error_messages(f.object, :start_at) %>
</div>

<div class="mb-4">
  <%= f.label :end_at, class: "form-label" %>
  <span class="badge rounded-pill text-bg-danger">必須</span>
  <%= f.datetime_field :end_at, class: 'form-control', **@end_at_options, value: f.object.end_at&.strftime("%Y-%m-%dT%H:%M") %>
  <%= show_error_messages(f.object, :end_at) %>
</div>

<div class="mb-4">
  <%= f.label :body, class: "form-label" %>
  <span class="badge rounded-pill text-bg-danger">必須</span>
  <%= f.text_area :body, class: 'form-control', value: f.object.body, placeholder: "内容を入力" %>
  <%= show_error_messages(f.object, :body) %>
</div>

<% if f.object.new_record? %>
  <div class="mt-5">
    <ul class="list-inline">
      <li class="list-inline-item"><%= f.submit "登録完了する", class: 'btn btn-primary' %></li>
      <li class="list-inline-item"><%= link_to "お知らせ一覧に戻る", @news_index_url, class: 'btn btn-secondary' %></li>
    </ul>
  </div>
<% else %>
  <div class="mt-5">
    <ul class="list-inline">
      <li class="list-inline-item"><%= f.submit "編集を完了する", class: 'btn btn-primary' %></li>
      <li class="list-inline-item"><%= link_to "お知らせ一覧に戻る", @news_index_url, class: 'btn btn-secondary' %></li>
    </ul>
  </div>
<% end %>
