<h3>お知らせ一覧</h3>
<%= render "admins/shared/flashes" %>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>カレンダー日付</th>
        <th>タイトル</th>
        <th>開始日時</th>
        <th>終了日時</th>
        <th>本文</th>        
        <th>詳細</th>
        <th>編集</th>
        

      </tr>
    </thead>

    <tbody>
      <% @news.each do |news| %>
        <tr>
          <td><%= news.calendar_date.strftime("%Y/ %m/ %d") %></td>
          <td><%= news.title %></td>
          <td><%= news.start_at.strftime("%Y/ %m/ %d /%H:%M") %></td>
          <td><%= news.end_at.strftime("%Y/ %m/ %d /%H:%M") %></td>
          <td><%= news.body %></td>
          <td><%= link_to "詳細", [:admins, news] %></td>
          <td>
            <%= link_to "編集", [:edit_admins, news] %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<p><%= link_to "お知らせ新規登録", new_admins_news_path, class: 'btn btn-primary' %></p>
