<div class="container mt-4">
  <%= render "admins/shared/flashes" %>
  <div class="card col-sm-9 mx-auto mt-5">
    <div class="card-body p-5">
      <h3 class="text-center mb-5 fw-bold">お知らせ詳細</h3>
      <div class="d-flex justify-content-between">
        <h5><%= @news.calendar_date %></h5>
        <div class="text-right">
          <small class="text-muted">
            <%= "公開日時: " + format_datetime(@news.start_at) %><br>
            <%= "公開終了日時: " + format_datetime(@news.end_at) %>
          </small>
        </div>
      </div>
      <h4 class="card-title"><%= @news.title %></h4>
      <div class="mt-5">
        <p><%= @news.body %></p>
      </div>
      <div class="mt-5">
        <%= link_to "一覧に戻る", @news_index_url, class: 'btn btn-secondary' %>
      </div>
    </div>
  </div>
</div>
