<% set_meta_tags  title: '社長メッセージ',
                  description: 'LBrestaurant株式会社の公式ホームページ。LBrestaurant株式会社の社長メッセージ。突然ですが、私には夢があります。私の夢はこのブラックな飲食業界を変えることです。
                                そのためには、オーナー自身の覚悟が問われます。会社の存続と従業員を豊かにすることを同時に達成する覚悟です。このメッセージを見ているあなたも、ぜひともに飲食業界を憧れの業界にしていきませんか？',
                  canonical: 'https://lbrestaurant.net/lbr/message/',
                  og: {
                    title: '社長メッセージ | LBrestaurant(株式会社)公式サイト(暖簾分け希望者、求職者募集中!)',
                    description: 'LBrestaurant株式会社の公式ホームページ。LBrestaurant株式会社の社長メッセージ。突然ですが、私には夢があります。私の夢はこのブラックな飲食業界を変えることです。
                                  そのためには、オーナー自身の覚悟が問われます。会社の存続と従業員を豊かにすることを同時に達成する覚悟です。このメッセージを見ているあなたも、ぜひともに飲食業界を憧れの業界にしていきませんか？',
                    type: 'article',
                    url: 'https://lbrestaurant.net/lbr/message/'
                  }
%>

<%= render partial: 'public/shared/section-title', locals: { section_title: '求職者のみなさまへ' } %>
<div class="owner-message-wrap">
  <div class="owner-message-content">
    <div class="owner-message-title"><%= image_tag('lbr/owner-message-title.png', class: 'message-title-img sm-max-img') %></div>
    <div><%= image_tag('lbr/owner.png', class: 'owner-img sm-img') %></div>
    <div class="owner-message-text-box">
      <p class="owner-message-text">
        はじめまして、当社のホームページをご覧いただきありがとうございます。<br>
        突然ですが、私には夢があります。<br>
        私の夢はこのブラックな飲食業界を変えることです。<br>
        そのためには、オーナー自身の覚悟が問われます。会社の存続と従業員を豊かにすることを同時に達成する覚悟です。
      </p>
      <p class="owner-message-text">
        私自身、３７歳まで飲食業界とは無縁でした。<br>
        そこから一念発起し、飲食業界で独立することを決め、勉強のため縁のあった前職の会社に就職しました。<br>
        未上場の企業の中では、前職は全然マシな方だと思いますが、それでも低収入・長時間労働と、ビジネスモデルとして
        高い給料を払えないなど、多くの問題を抱えていることに直面しました。<br>
        一方で、優秀な人は独立していく。（半数以上は失敗しますが。。）<br>
        このような業界をなんとか変えたいと働きながら感じるようになりました。<br>
        具体的には、アルバイトが本気で憧れ、そのまま就職したくなるような会社（店）を作ることです。<br>
        ※現状は真逆
      </p>
      <p class="owner-message-text">
        独立後、自分の店を立ち上げ、その思いはさらに強くなりました。２店舗目を出店し、若い店長に１店舗目を任せてからです。<br>
        彼は非常によく仕事してくれています。<br>
        その彼ともしくは彼のような若くて勢いのある人をどうすれば豊かにできるのか。<br>
        この答えにこそ自分がこの業界で頑張る意味があると考えました。<br>
        その結果のれん分け制度が１つの方法だという結論に至りました。
      </p>
      <p class="owner-message-text">
        まずは直営店で地域で愛される店を創出し、その店をそのまま店長にのれん分けの形で託すことで達成できると確信に至りました。<br>
        直営店の形で店長を経験してもらい、そのまま店を買い取る形で独立を促していく。<br>
        これを拡大していくことで、独立できる能力のある人が失敗することなく独立できます。
      </p>
      <p class="owner-message-text">
        さらに、飲食店は休みを１日とるだけで５万以上はマイナスになります。
        ここを本部や他の独立オーナーと協力し合うことで、店休することなく休みをとることが可能になります。
        このように優秀な社員が自社を通じてのれん分けしていくことで高収入ときちんと休みをとれる業界に変えていきます。
        また多くの業態で同様のことをしていきたいと考えています。
      </p>
      <p class="owner-message-text">
        このメッセージを見ているあなたも、ぜひともに飲食業界を憧れの業界にしていきませんか？<br>
        少しでも興味があれば、私とサシメシしてもらってもいいですし、<br>
        ご応募してもらってももちろん大丈夫です。<br>
        同じ志を持って頑張れる仲間はいつでも歓迎です。			
      </p>
    </div>
    <p class="owner-name"><span class="owner-post">代表取締役</span>川本哲也</p>
  </div>
</div>
<%= render 'interview' %>
<%= render 'public/shared/carrer-contents' %>
