<%= render partial: 'public/shared/section-title', locals: { section_title: 'LBrestaurantの特徴' } %>
<div class="lbr-dream-wrap">
  <div class="lbr-dream-content">
    <div class="lbr-dream-title"><%= image_tag('lbr/dream-title.png', width: '296px', height: '40px') %></div>
    <div class="lbr-dream-text-box">
      <p class="lbr-dream-text">
        社名のLBrestaurantとは地域密着の飲食店という意味です。<br>
        その名の通り、地域に必要とされる、なくてはならないと思っていただける飲食店を作ることが理念です。<br>
        そして、その過程や結果によって全従業員が少しでも豊かな人生を物心両面で歩めることが最大の目的です。<br>
      </p>
      <p class="lbr-dream-text">
        私たちは家族経営を掲げています。<br>
        従業員は家族と捉え、居場所を得られるような会社になります。<br>
        どうやったらみんなが輝くのか、これを追及するのが社長の一番の仕事といっても過言ではありません。<br>
      </p>
      <p class="lbr-dream-text">
        お店は従業員が輝いてないと、輝きません。<br>
        全ての店舗ビジネスに通ずる心理です。<br>
        輝いてる従業員は店長になれます。<br>
        そして、その輝いてる店長と同じ数だけ店舗を増やせます。<br>
        私たちは、そんな輝いてるスタッフが助け合える店舗をできるだけ多く作ることを会社の最大の理念としています。
      </p>
    </div>
    <div class="lbr-dream-link">
      <%= link_to '代表メッセージ', message_lbr_index_path, class: 'user-btn lbr-dream-btn' %>
    </div>
  </div>
</div>
<div class="lbr-merit-wrap">
  <div class="lbr-merit-content-box">
    <div class="lbr-merit-title"><%= image_tag('lbr/merit-title.png', width: '350px', height: '40px') %></div>
    <div class="lbr-merit-content">
      <div><%= image_tag('lbr/merit-img1.png', width: '500px', height: '350px') %></div>
      <div class="lbr-merit-content-info lbr-merit-margin-left">
        <h2 class="lbr-merit-content-title">
          社長や役員と<br>
          <span class="alert-text">近い距離感</span>で仕事ができる
        </h2>
        <p class="lbr-merit-text">
          大手企業では、社長と実際に一緒に仕事をする機会はほとんどなく、部長クラスや店長クラスに昇進するまで接触することは難しいことがあります。しかし、当社は小規模な会社であり、入ってすぐに社長や役員と接する機会は飛躍的に多いです。まずは自分の力を蓄えながらも、<span class="lbr-merit-notion-text">年齢や社歴に関係なく、提案ができる風通しの良い現場を提供</span>しています。
        </p>
      </div>
    </div>
    <div class="lbr-merit-content">
      <div class="lbr-merit-content-info lbr-merit-margin-right">
        <h2 class="lbr-merit-content-title">
          <span class="alert-text">実力主義</span>なので<br>
          自分次第で高スピードで成長可能
        </h2>
        <p class="lbr-merit-text">
          年功序列は一切ありません。サッカーで例えたら、Jリーグを目指している社会人のアマチュアリーグくらいの認識です。<span class="lbr-merit-notion-text">実力のある人をどんどん登用・抜擢していきます。</span>自分に自信のある方、ここで自分の人生変えたい!と思う方にはうってつけの環境です。本気でやれば1-2年でどこに行っても通用する実力をつけられます。
        </p>
      </div>
      <div><%= image_tag('lbr/staff2-interview-img2.png', width: '500px', height: '350px') %></div>
    </div>
    <div class="lbr-merit-content">
      <div><%= image_tag('lbr/merit-img2.png', width: '500px', height: '350px') %></div>
      <div class="lbr-merit-content-info lbr-merit-margin-left">
        <h2 class="lbr-merit-content-title">
          <span class="alert-text">１から会社を作っていく</span><br>
          醍醐味を味わえる         
        </h2>
        <p class="lbr-merit-text">
          弊社は2023年に法人化した新しい会社です。様々な制度がまだまだ未完成です。【ないものは作るしかない】この精神で<span class="lbr-merit-notion-text">どんどんチャレンジすることが可能です。</span>未経験のことでもどんどんやれるチャレンジ精神で、共に道を切り開きましょう。
        </p>
      </div>
    </div>
  </div>
</div>
<div class="lbr-img-wrap">
  <div class="swiper swiper1">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><%= image_tag('lbr/merit-img1.png', width: '350px', height: '250px') %></div>
      <div class="swiper-slide"><%= image_tag('lbr/merit-img2.png', width: '350px', height: '250px') %></div>
      <div class="swiper-slide"><%= image_tag('lbr/merit-img3.png', width: '350px', height: '250px') %></div>
      <div class="swiper-slide"><%= image_tag('lbr/merit-img4.png', width: '350px', height: '250px') %></div>
      <div class="swiper-slide"><%= image_tag('lbr/merit-img5.png', width: '350px', height: '250px') %></div>
      <div class="swiper-slide"><%= image_tag('lbr/staff2-interview-img2.png', width: '350px', height: '250px') %></div>
      <div class="swiper-slide"><%= image_tag('lbr/staff2-interview-img1.png', width: '350px', height: '250px') %></div>
    </div>
  </div>
  <div class="swiper swiper2">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><%= image_tag('lbr/merit-img1.png', width: '420', height: '250px') %></div>
      <div class="swiper-slide"><%= image_tag('lbr/merit-img2.png', width: '420', height: '250px') %></div>
      <div class="swiper-slide"><%= image_tag('lbr/merit-img3.png', width: '420', height: '250px') %></div>
      <div class="swiper-slide"><%= image_tag('lbr/merit-img4.png', width: '420', height: '250px') %></div>
      <div class="swiper-slide"><%= image_tag('lbr/merit-img5.png', width: '420', height: '250px') %></div>
      <div class="swiper-slide"><%= image_tag('lbr/staff2-interview-img2.png', width: '420', height: '250px') %></div>
      <div class="swiper-slide"><%= image_tag('lbr/staff2-interview-img1.png', width: '420', height: '250px') %></div>
    </div>
  </div>
</div>
<%= render 'public/shared/carrer-contents' %>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script>
    const mySwiper1 = new Swiper('.swiper1', {
      loop: true,
      spaceBetween: 10,
	    slidesPerView: 4,
      autoplay: {
        delay: 3000,
        stopOnLastSlide: false,
        disableOnInteraction: false,
        pauseOnMouseEnter: false,
        reverseDirection: false
      },
    });

    const mySwiper2 = new Swiper('.swiper2', {
      loop: true,
      spaceBetween: 10,
	    slidesPerView: 3,
      autoplay: {
        delay: 3000,
        stopOnLastSlide: false,
        disableOnInteraction: false,
        pauseOnMouseEnter: false,
        reverseDirection: false
      },
    });
  </script>
