<% set_meta_tags  title: '社員インタビュー4',
                  description: 'LBrestaurant株式会社の公式ホームページ。LBrestaurant株式会社で働くスタッフをご紹介いたします! LBrestaurantで働くスタッフの生の声をお聞きいただき、嘘偽りない姿をご覧ください!',
                  canonical: 'https://lbrestaurant.net/lbr/staff_interview4/',
                  og: {
                    title: '社員インタビュー4 | LBrestaurant(株式会社)公式サイト(暖簾分け希望者、求職者募集中!)',
                    description: 'LBrestaurant株式会社の公式ホームページ。LBrestaurant株式会社で働くスタッフをご紹介いたします! LBrestaurantで働くスタッフの生の声をお聞きいただき、嘘偽りない姿をご覧ください!',
                    type: 'article',
                    url: 'https://lbrestaurant.net/lbr/staff_interview4/'
                  }
%>

<div class="interview-section-title-wrap interview4">
  <div class="sm-display"><%= image_tag('lbr/staff4-sp-interview-section.png', class: 'staff-show-img') %></div>
  <div class="interview-section-title-box">
    <h1 class="interview-section-title-img"><%= image_tag('lbr/interview-title.png', class: 'interview-title-img') %></h1>
    <p>しっかりと後輩指導ができる</p>
    <p>教育体制に力を入れたい</p>
    <div  class="staff-post-box">
      <div class="staff-post">野田スタッフ</div>
    </div>
    <div class="staff-name">野田 渚<span class="staff-name-en">NODA NAGISA</span></div>
    <div class="employ-date">2022年8月入社</div>
  </div>
</div>
<div class="staff-interview-wrap-white">
  <div class="staff-interview-content-box">
    <div class="staff-interview-content1">
      <div><%= image_tag('lbr/staff4-interview-img1.png', class: 'staff-show-img') %></div>
      <div class="staff-interview-content-info staff-interview-margin-left">
        <h3 class="staff-interview-content-subtitle">Question.01</h3>
        <h2 class="staff-interview-content-title">入社の経緯</h2>
        <p class="staff-interview-content-text">
          前職が佐藤さんと同じ職場で、社長と佐藤さんが誘ってくれたので働いてみようと思いました。
          実際に働き始めてみると、みんなのやる気に日々刺激を受けています。
          チームの一員として成長できる環境がここにはあり、毎日が新たな発見と学びでいっぱいです。
        </p>
      </div>
    </div>
  </div>
</div>
<div class="staff-interview-wrap-gray">
  <div class="staff-interview-content-box">
    <div class="staff-interview-content2">
      <h3 class="staff-interview-content-subtitle">Question.02</h3>
      <h2 class="staff-interview-content-title">入社後苦労したこと</h2>
      <p class="staff-interview-content-text">
        焼き鳥の種類を覚えるのが大変でした。<br>
        ひたすら見て覚えるしかなかったです（笑）<br>
        ここは焼鳥屋で働いたら最初に苦労することの一つだと思います。
      </p>
    </div>
 </div>
</div>
<div class="staff-interview-wrap-white">
  <div class="staff-interview-content-box">
    <div class="staff-interview-content3 reverse-flex">
      <div><%= image_tag('lbr/staff4-interview-img2.png', class: 'staff-show-img') %></div>
      <div class="staff-interview-content-info staff-interview-margin-right">
        <h3 class="staff-interview-content-subtitle">Question.03</h3>
        <h2 class="staff-interview-content-title">今後の目標について</h2>
        <p class="staff-interview-content-text">
          歳下のバイトの子たちを教えたことがなかったので、しっかり教えれるようになりたいです。
          また、ホールでの細やかな配慮や迅速な対応を心がけています。
          今後は、チームワークをさらに深め、お店全体の質を高めることが目標です。
        </p>
      </div>
    </div>
  </div>
</div>
<div class="staff-interview-wrap-gray">
  <div class="staff-interview-content-box">
    <div class="staff-interview-content4">
      <h3 class="staff-interview-content-subtitle">Question.04</h3>
      <h2 class="staff-interview-content-title">将来入ってくるメンバーに一言</h2>
      <p class="staff-interview-content-text">
        ここにはチャレンジと成長できる環境があります。<br>
        一緒に仕事をする中で、お互いに学び合い、成長できる関係を築き上げていきましょう。
      </p>
    </div>
  </div>
</div>
<%= render 'interview' %>
