<div class="interview-section-title-wrap interview3">
  <div class="sm-display"><%= image_tag('lbr/staff2-sp-interview-section.png', class: 'staff-show-img') %></div>
  <div class="interview-section-title-box">
    <h1 class="interview-section-title-img"><%= image_tag('lbr/interview-title.png', class: 'interview-title-img') %></h1>
    <p>お客さまが満足する</p>
    <p>焼き鳥を焼いていきたい</p>
    <div  class="staff-post-box">
      <div class="staff-post">野田スタッフ</div>
    </div>
    <div class="staff-name">新田 剛史<span class="staff-name-en">TSUYOSHI NITTA</span></div>
    <div class="employ-date">2022年9月入社</div>
  </div>
</div>
<div class="staff-interview-wrap-white">
  <div class="staff-interview-content-box">
    <div class="staff-interview-content1">
      <div><%= image_tag('lbr/staff3.png', class: 'staff-show-img') %></div>
      <div class="staff-interview-content-info staff-interview-margin-left">
        <h3 class="staff-interview-content-subtitle">Question.01</h3>
        <h2 class="staff-interview-content-title">入社の経緯</h2>
        <p class="staff-interview-content-text">
          前職でオーナーと一緒に働き、オーナーの人柄と情熱に惹かれ、従業員を大切にする姿勢が魅力的で、理想の職場環境で働けると思い入社を決めました。
        </p>
      </div>
    </div>
  </div>
</div>
<div class="staff-interview-wrap-gray">
  <div class="staff-interview-content-box">
    <div class="staff-interview-content2">
      <h3 class="staff-interview-content-subtitle">Question.02</h3>
      <h2 class="staff-interview-content-title">入社後苦労したこと</h2>
      <p class="staff-interview-content-text">
        入社直後にスランプに陥り焼き鳥が上手く焼けなくなりました。<br>
        落ち込みましたが、焼き加減や塩加減など人に聞いたり<br>
        自分で食べて再度確認していき少しずつクリアしていく事ができました。
      </p>
    </div>
  </div>
</div>
<div class="staff-interview-wrap-white">
  <div class="staff-interview-content-box">
    <div class="staff-interview-content3 reverse-flex">
      <div><%= image_tag('lbr/staff3-interview-img2.png', class: 'staff-show-img') %></div>
      <div class="staff-interview-content-info staff-interview-margin-right">
        <h3 class="staff-interview-content-subtitle">Question.03</h3>
        <h2 class="staff-interview-content-title">今後の目標について</h2>
        <p class="staff-interview-content-text">
          常に美味しい焼き鳥を焼き続けて、ご来店くださるお客様に満足していただくことです。日々、焼き鳥の品質を追求し、お客様の期待を超える味わいを目指しています。そのために、選び抜かれた食材、技術、そして心を込めたサービスで、訪れるすべての人に記憶に残る食体験を提供していきたいです。
        </p>
      </div>
    </div>
  </div>
</div>
<div class="staff-interview-wrap-gray">
  <div class="staff-interview-content-box">
    <div class="staff-interview-content4">
      <h3 class="staff-interview-content-subtitle">Question.04</h3>
      <h2 class="staff-interview-content-title">将来入ってくるメンバーに一言</h2>
      <p class="staff-interview-content-text">
        どんなに辛いことや悪い状況になっても逃げないという事です。<br>
        焼き鳥屋で10年以上働いていて辞めたくなる瞬間もありました。<br>
        そんな状態になっても踏ん張ってきました。今の自分があるのは落ち込みながらも逃げずに頑張ってきたからだと思います。<br>
        飲食も厳しい業界ではあると思いますが、逃げずに頑張って欲しいと思います。
      </p>
    </div>
  </div>
</div>
<%= render 'interview' %>
