<div class="interview-section-title-wrap interview4">
  <div class="sm-display"><%= image_tag('lbr/staff4-sp-interview-section.png', class: 'staff-show-img') %></div>
  <div class="interview-section-title-box">
    <h1 class="interview-section-title-img"><%= image_tag('lbr/interview-title.png', class: 'interview-title-img') %></h1>
    <p>しっかりと後輩指導ができる</p>
    <p>教育体制に力を入れたい</p>
    <div  class="staff-post-box">
      <div class="staff-post">野田スタッフ</div>
    </div>
    <div class="staff-name">野田 渚<span class="staff-name-en">NODA NAGISA</span></div>
    <div class="employ-date">2022年8月入社</div>
  </div>
</div>
<div class="staff-interview-wrap-white">
  <div class="staff-interview-content-box">
    <div class="staff-interview-content1">
      <div><%= image_tag('lbr/staff4-interview-img1.png', class: 'staff-show-img') %></div>
      <div class="staff-interview-content-info staff-interview-margin-left">
        <h3 class="staff-interview-content-subtitle">Question.01</h3>
        <h2 class="staff-interview-content-title">入社の経緯</h2>
        <p class="staff-interview-content-text">
          前職が佐藤さんと同職場で、社長と佐藤さんが誘ってくれたので働いてみようと思いました。
        </p>
      </div>
    </div>
  </div>
</div>
<div class="staff-interview-wrap-gray">
  <div class="staff-interview-content-box">
    <div class="staff-interview-content2">
      <h3 class="staff-interview-content-subtitle">Question.02</h3>
      <h2 class="staff-interview-content-title">入社後苦労したこと</h2>
      <p class="staff-interview-content-text">
        焼き鳥の種類を覚えるのが大変でした。<br>
        ひたすら見て覚えるしかなかったです（笑）<br>
        ここは焼鳥屋で働いたら最初に苦労することの一つだと思います。
      </p>
    </div>
 </div>
</div>
<div class="staff-interview-wrap-white">
  <div class="staff-interview-content-box">
    <div class="staff-interview-content3 reverse-flex">
      <div><%= image_tag('lbr/staff4-interview-img2.png', class: 'staff-show-img') %></div>
      <div class="staff-interview-content-info staff-interview-margin-right">
        <h3 class="staff-interview-content-subtitle">Question.03</h3>
        <h2 class="staff-interview-content-title">今後の目標について</h2>
        <p class="staff-interview-content-text">
          歳下のバイトの子たちを教えたことがなかったので<br>
          しっかり教えれるようになりたいです。
        </p>
      </div>
    </div>
  </div>
</div>
<div class="staff-interview-wrap-gray">
  <div class="staff-interview-content-box">
    <div class="staff-interview-content4">
      <h3 class="staff-interview-content-subtitle">Question.04</h3>
      <h2 class="staff-interview-content-title">将来入ってくるメンバーに一言</h2>
      <p class="staff-interview-content-text">
        頑張れ！！！
      </p>
    </div>
  </div>
</div>
<%= render 'interview' %>
