<% set_meta_tags  title: '社員インタビュー1',
                  description: 'LBrestaurant株式会社の公式ホームページ。LBrestaurant株式会社で働くスタッフをご紹介いたします! LBrestaurantで働くスタッフの生の声をお聞きいただき、嘘偽りない姿をご覧ください!',
                  canonical: 'https://lbrestaurant.net/lbr/staff_interview1/',
                  og: {
                    title: '社員インタビュー1 | LBrestaurant(株式会社)公式サイト(暖簾分け希望者、求職者募集中!)',
                    description: 'LBrestaurant株式会社の公式ホームページ。LBrestaurant株式会社で働くスタッフをご紹介いたします! LBrestaurantで働くスタッフの生の声をお聞きいただき、嘘偽りない姿をご覧ください!',
                    type: 'article',
                    url: 'https://lbrestaurant.net/lbr/staff_interview1/'
                  }
%>

<div class="interview-section-title-wrap interview1">
  <div class="sm-display"><%= image_tag('lbr/staff1-interview-img1.png', class: 'staff-show-img') %></div>
  <div class="interview-section-title-box">
    <h1 class="interview-section-title-img"><%= image_tag('lbr/interview-title.png', class: 'interview-title-img') %></h1>
    <p>あそこに入社して成長できた</p>
    <p>そう思われる環境を提供したい</p>
    <div  class="staff-post-box">
      <div class="staff-post">取締役</div>
    </div>
    <div class="staff-name">佐藤 保<span class="staff-name-en">TAMOTSU SATO</span></div>
    <div class="employ-date">創業メンバー</div>
  </div>
</div>
<div class="staff-interview-wrap-white">
  <div class="staff-interview-content-box">
    <div class="staff-interview-content1">
      <div><%= image_tag('lbr/staff1-interview-img1.png', class: 'staff-show-img') %></div>
      <div class="staff-interview-content-info staff-interview-margin-left">
        <h3 class="staff-interview-content-subtitle">Question.01</h3>
        <h2 class="staff-interview-content-title">入社の経緯</h2>
        <p class="staff-interview-content-text">
          入当時、私は飲食会社のスーパーバイザーをしており、飲食未経験の弊社代表の川本社長が入社してきました。未経験ながらも今まで見てきた飲食人の誰よりも熱量のある方で圧倒されました。しばらく共に働き、深い絆を築いた後、本当に一緒に働きたいと思うようになりましたが、個人的な事情で会社を辞めました。その後、彼が独立開業をする話を聞き嬉しく思い、また一緒に働きたいと思ったのですが、元上司は雇いたくはないだろうと思い胸にしまっていました。<br>
          そんな中、彼が私に、「自分は100店舗8年以内に展開したいと、そのために佐藤が必要だ」とおっしゃってくれました。心からうれしかった。当時、夢物語としか思えませんでしたが、今度は私が社長を支えよう！夢を実現させようと思い入社を決意しました。
        </p>
      </div>
    </div>
  </div>
</div>
<div class="staff-interview-wrap-gray">
  <div class="staff-interview-content-box">
    <div class="staff-interview-content2">
      <h3 class="staff-interview-content-subtitle">Question.02</h3>
      <h2 class="staff-interview-content-title">入社後苦労したこと</h2>
      <p class="staff-interview-content-text">
        入社し店舗オープンまでに必要人数が集まらず、少数のマンパワーに頼らずには営業できませんでした。<br>
        思いのほか営業成績も初月から右肩上がりでやむを得ず、定休するほかありませんでした。<br>
        まだこれからですが、現在は社長の人柄で<br>
        前職一緒だった人たちが入社して下さり事なきを得てると思います。<br>
        採用がいかに大事かを知ることができました。<br>
      </p>
    </div>
 </div>
</div>
<div class="staff-interview-wrap-white">
  <div class="staff-interview-content-box">
    <div class="staff-interview-content3 reverse-flex">
      <div><%= image_tag('lbr/staff1-interview-img2.png', class: 'staff-show-img') %></div>
      <div class="staff-interview-content-info staff-interview-margin-right">
        <h3 class="staff-interview-content-subtitle">Question.03</h3>
        <h2 class="staff-interview-content-title">今後の目標について</h2>
        <p class="staff-interview-content-text">
          今現在、川本社長が採用に重点を置き動いてくれているので、確保できた人材をしっかり育成できるように努めたいと思います。<br>
          早期的にはマインドが共有できる部下を二人創る。<br>
          長期的にはたとえ御社を離れたとしても、あそこはとても勉強になったと思わせる、その人がプラスの人生になれる会社を作ります。
        </p>
      </div>
    </div>
  </div>
</div>
<div class="staff-interview-wrap-gray">
  <div class="staff-interview-content-box">
    <div class="staff-interview-content4">
      <h3 class="staff-interview-content-subtitle">Question.04</h3>
      <h2 class="staff-interview-content-title">将来入ってくるメンバーに一言</h2>
      <p class="staff-interview-content-text">
        とても怖いことかもしれませんが、いっぱい失敗してください。<br>
        転んでください。恥ずかしくて言えないこともどんどん言って下さい。やってください。<br>
        ほんとに怖いことは何も知らずに育つこと。無知な人です。<br>
        私は先人にこれを学びました。<br>
        残念ながら私は当時あまり理解できずに育ち今とても身に染みて苦労しています。<br>
        その時期を成長の時間と捉えて努めてほしいです。<br>
        僕たちはその時間も一緒に楽しみたいと思います。<br>
      </p>
    </div>
  </div>
</div>
<%= render 'interview' %>
