<% breadcrumb :admins_root %>
<%= render "admins/shared/flashes" %>
<h1 class="h2">Dashboard</h1>
<div class="row my-4">
  <div class="col-12 col-md-6 mb-4 mb-lg-0 col-lg-3">
    <div class="card h-100">
      <h5 class="card-header">問い合わせ</h5>
      <div class="card-body">
        <h5 class="card-title">問い合わせ件数：<%= @total_contacts %>件</h5>
        <p class="card-text">公開画面へのリンク(仮)</p>
        <p class="card-text">本日の問い合わせ件数:<%= @total_contacts_created_today %></p>
        <p class="card-text  text-danger">未対応の問い合わせは<%= @total_contacts_with_not_started %>件です</p>
        <%= link_to '確認する', admins_contacts_path(q: {search_by_status: :not_started}), class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 mb-4 mb-lg-0 col-lg-3">
    <div class="card h-100">
      <h5 class="card-header">応募</h5>
      <div class="card-body">
        <h5 class="card-title">応募件数：件</h5>
        <p class="card-text">公開画面へのリンク(仮)</p>
        <p class="card-text">本日の応募件数:</p>
        <p class="card-text  text-danger">未対応の応募は件です</p>
        <%= link_to '確認する', admins_contacts_path(q: {search_by_status: :not_started}), class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 mb-4 mb-lg-0 col-lg-3">
    <div class="card h-100">
      <h5 class="card-header">店舗</h5>
      <div class="card-body">
        <h5 class="card-title">店舗数：<%= @total_contacts %>店舗</h5>
        <p class="card-text">公開画面へのリンク(仮)</p>
        <% if @latest_shop %>
          <p class="card-text  text-success">最新の店舗名:<br>
            <%= @latest_shop.name %>
          </p>
          <%= link_to '確認する', admins_shop_path(@latest_shop.id), class: 'btn btn-primary' %>
        <% else %>
          <p class="card-text">公開されている店舗はありません</p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 mb-4 mb-lg-0 col-lg-3">
    <div class="card h-100">
      <h5 class="card-header">お知らせ</h5>
      <div class="card-body">
        <h5 class="card-title">お知らせ件数：<%= @total_news %>件</h5>
        <p class="card-text">公開画面へのリンク(仮)</p>
        <% if @latest_news %>
          <p class="card-text  text-success">最新のお知らせ名:<br>
            <%= @latest_news.title %>
          </p>
          <%= link_to '確認する', admins_news_path(@latest_news.id), class: 'btn btn-primary'  %>
        <% else %>
          <p class="card-text">公開されているお知らせはありません</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
