<%= render partial: 'public/shared/section-title', locals: { section_title: '店舗一覧' } %>
<div class="shops-wrap">
  <% @shops.each do |shop| %>
    <div class="shop-content">
      <div class="d-flex align-items-center">
        <div class="text-center shop-title">
          <%= shop.name %>
        </div>
        <button class="btn btn-toggle d-inline-flex align-items-center" data-bs-toggle="collapse" data-bs-target="#shopDetails<%= shop.id %>" aria-expanded="false">
          <span class="d-none d-sm-inline">詳しく見る</span>
        </button>
      </div>
      <div id="shopDetails<%= shop.id %>" class="collapse">
        <div class="shop-card">
          <div class="shop-card-content">
            <div class="d-flex flex-wrap">
              <div class="col-md-6 mb-4 p-3 mobile-p-0">
                <% if shop.shop_image? %>
                  <%= image_tag shop.shop_image.url, class: "img-fluid" %>
                <% else %>
                  <%= image_tag '/assets/default_shop_image.png', alt: '店舗画像', class: "img-fluid" %>
                <% end %>
              </div>
              <div class="col-md-6 mb-4 p-3 mobile-p-0">
                <dl class="shop-info">
                  <dt>住所</dt>
                  <dd>
                    〒<%= shop.postcode %><br>
                    <%= shop.prefecture.name %><%= shop.city_name %><%= shop.address %>
                  </dd>
                  <dt>営業時間</dt><dd><%=safe_join(shop.business_time.split("\n"),tag(:br))%></dd>
                  <dt>アクセス</dt><dd><%=safe_join(shop.access.split("\n"),tag(:br))%></dd>
                  <dt>電話番号</dt><dd class="text-decoration-underline"><%= shop.phone_number %></dd>
                  <dt>カウンター席数</dt><dd><%= shop.counter_seat %>席</dd>
                  <dt>テーブル席数</dt><dd><%= shop.table_seat %>席</dd>
                  <dt>グルメサイト</dt><dd class="text-decoration-underline"><%= link_to shop.site_name, shop.gourmet_site_link, target: "_blank", rel: "noopener noreferrer" %></dd>
                </dl>
              </div>
            </div>
            <iframe width="100%" height="450" style="border:0" Load="lazy" allowfullscreen src="https://www.google.com/maps/embed/v1/place?q=<%= shop.google_map_iframe %>">
            </iframe>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<div>
<%= paginate @shops, theme: 'bootstrap-5' %>
