<% breadcrumb :admins_job_entries %>
<div class="d-flex justify-content-between mb-4 mobile-block">
  <h3 class="fw-bold"><%= link_to '採用応募一覧', admins_job_entries_path, class: 'text-dark text-decoration-none' %></h3>
  <%= search_form_for @q, url: admins_job_entries_path, class: 'form-inline' do |f| %>
    <div class="input-group">
      <%= f.select :search_by_recruit_type, JobEntry.recruit_type.options, { include_blank: '全ての採用タイプ' }, class: 'form-select-sm me-4' %>
      <%= f.select :search_by_sex, JobEntry.sex.options, { include_blank: '全ての性別' }, class: 'form-select-sm me-4' %>
      <%= f.select :search_by_status, JobEntry.status.options, { include_blank: '全ての対応状況' }, class: 'form-select-sm me-4' %>
      <%= f.search_field :name_cont, class: 'form-control me-2', placeholder: '名前で検索' %>
      <%= f.search_field @search_residence_scope, class: 'form-control', placeholder: '住所で検索' %>
      <div class="input-group-append">
        <%= f.submit '検索', class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</div>
<%= render "admins/shared/flashes" %>
<div class="table-responsive">
  <table class="table table-hover">
    <thead class="table-dark">
      <tr>
        <th>採用応募タイプ</th>
        <th>お名前</th>
        <th>性別</th>
        <th>生年月日</th>
        <th>住所</th>
        <th>対応状況</th>
        <th>対応管理者</th>
        <th>更新時間</th>
      </tr>
    </thead>
    <tbody>
      <% @job_entries.each do |job_entry| %>
        <tr>
          <td class="align-middle"><%= job_entry.recruit_type_text %></td>
          <td class="align-middle">
            <div class="d-flex flex-column">
              <span class="text-muted small"><%= job_entry.name_kana %></span>
              <span><%= link_to job_entry.name, [:admins, job_entry], class: "text-primary" %></span>
            </div>
          </td>
          <td class="align-middle"><%= job_entry.sex_text %></td>
          <td class="align-middle"><%= format_date(job_entry.birth_date) %>
          <td class="align-middle"><%= "#{job_entry.prefecture.name}#{job_entry.city_name}#{job_entry.address}" %></td>
          <td class="align-middle"><%= job_entry.status_text %></td>
          <td class="align-middle"><%= job_entry.admin ? job_entry.admin.name : '未指定' %></td>
          <td class="align-middle"><%= format_datetime(job_entry.updated_at) %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @job_entries, theme: 'bootstrap-5' %>
