<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>新しいお問い合わせがあります。</h4>
    <p>お問い合わせタイプ: <%= @contact.contact_type_text %></p>
    <p>お名前: <%= @contact.name %>(<%= @contact.name_kana %>)</p>
    <p>メールアドレス: <%= @contact.email %></p>
    <p>電話番号: <%= @contact.phone_number %></p>
    <p>お問い合わせ内容: <%= @contact.message %></p>

    <p>お問い合わせ詳細は以下のリンクからご確認ください:</p>
    <%= link_to 'お問い合わせ詳細', @contact_show_url %>
  </body>
</html>
