<div class="container mt-4 mobile-gutter p-3">
  <div class="d-flex justify-content-between mb-4 mobile-block">
    <h3 class="fw-bold">削除済み店舗一覧</h3>
    <%= search_form_for @q, url: discarded_admins_shops_path, class: 'form-inline' do |f| %>
      <div class="d-flex mobile-block">
        <div class="input-group">
          <%= f.search_field :name_cont, class: 'form-control', placeholder: '店舗名で検索' %>
          <div class="input-group-append">
            <%= f.submit '検索', class: 'btn btn-primary' %>
          </div>
        </div>
        <div class="ms-2"></div>
        <div class="input-group">
          <%= f.search_field @search_residence_scope, class: 'form-control', placeholder: '住所で検索' %>
          <div class="input-group-append">
            <%= f.submit '検索', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= render "admins/shared/flashes" %>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead class="table-dark">
        <tr>
          <th>店舗名</th>
          <th>住所</th>
          <th>営業時間</th>
          <th>電話番号</th>
          <th>カウンター席数</th>
          <th>テーブル席数</th>
          <th>グルメサイト</th>
          <th colspan="1"></th>
        </tr>
      </thead>
      <tbody>
        <% @discarded_shops.each do |discarded_shop| %>
          <tr>
            <td class="align-middle"><%= link_to discarded_shop.name, [:admins, discarded_shop], class: "text-primary" %></td>
            <td class="align-middle"><%= "#{discarded_shop.prefecture.name}#{discarded_shop.city_name}#{discarded_shop.address}" %></td>
            <td class="align-middle"><%= discarded_shop.business_time %></td>
            <td class="align-middle"><%= discarded_shop.phone_number %></td>
            <td class="align-middle"><%= discarded_shop.counter_seats %></td>
            <td class="align-middle"><%= discarded_shop.table_seats %></td>
            <td class="align-middle"><%= link_to discarded_shop.site_name, discarded_shop.gourmet_site_link, target: "_blank", rel: "noopener noreferrer", class: "text-primary" %></td>
            <td class="align-middle">
              <%= button_to "復元", [:restore_admins, discarded_shop], { method: :post, class: "btn btn-outline-danger btn-sm", onclick: "return confirm('本当に復元しますか？');" } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <p><%= link_to "店舗一覧に戻る", @shops_index_url, class: 'btn btn-secondary' %></p>
</div>

<%= paginate @discarded_shops, theme: 'bootstrap-5' %>
