<h1 class="h1style mb-5rem fw-bold">楽しいブログを更新中!</h1>
<div class="contents-wrap">
  <% if @articles.present? %>
    <div class="row  m-0">
      <% @articles.each do |article| %>
        <div class="col-md-6 col-12 mt-4">
          <div class="article-card">
            <%= link_to [article] do %>
              <% if article.contents.first.article_image.present? %>
                <%= image_tag(article.contents.first.article_image.url, alt: 'ブログ画像', class: "img-fluid", style: "width:100%; height:250px;") %>
              <% end %>
              <div class="article-info">
                <div class="article-title"><%= article.title %></div>
                <div class="article-category">
                  <span>カテゴリー / <%= article.category_text %></span>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="title py-3 text-center">
      <h2>
        ブログはまだありません<br>
        配信開始までお待ちください！
      </h2>
    </div>
  <% end %>
</div>

<%= paginate @articles, theme: 'bootstrap-5' %>
