<div class="contact-wrap">
  <div class="contact-content">
    <div class="contact-title"><%= image_tag('job_entry/confirm-title.png', width: '350px', height: '31px') %></div>
    <ul class="contact-attention-text text-center">
      <li>入力内容をご確認ください。</li>
      <li>問題なければ送信ボタンを、誤りがあれば修正ボタンを押してください。</li>
    </ul>
    <div class="form-box">
      <div class="form form-border">
        <div class="form-margin-left">
          <div class="form-text form-label">
            応募するタイプ
            <span class="badge rounded-pill badge-alert">必須</span>
          </div>
          <div class="form-label form-text">
            <%= @job_entry.recruit_type_text %>
          </div>
        </div>
      </div>
      <div class="form form-border">
        <div class="form-margin-left">
          <div class="form-text form-label">
            お名前
            <span class="badge rounded-pill badge-alert">必須</span>
          </div>
          <div class="form-label form-text">
            <%= @job_entry.name %>
          </div>
        </div>
      </div>
      <div class="form form-border">
        <div class="form-margin-left">
          <div class="form-text form-label">
            フリガナ
            <span class="badge rounded-pill badge-alert">必須</span>
          </div>
          <div class="form-label form-text">
            <%= @job_entry.name_kana %>
          </div>
        </div>
      </div>
      
      <div class="form form-border">
        <div class="form-margin-left">
          <div class="form-text form-label">
            性別
            <span class="badge rounded-pill badge-alert">必須</span>
          </div>
          <div class="form-label form-text">
            <%= @job_entry.sex_text %>
          </div>
        </div>
      </div>
    
      <div class="form form-border">
        <div class="form-margin-left">
          <div class="form-text form-label">
            生年月日
            <span class="badge rounded-pill badge-alert">必須</span>
          </div>
          <div class="form-label form-text">
            <%= format_date(@job_entry.birth_date) %>
          </div>
        </div>
      </div>
      <div class="form form-border">
        <div class="form-margin-left">
          <div class="form-text form-label">
            メールアドレス
            <span class="badge rounded-pill badge-alert">必須</span>
          </div>
          <div class="form-label form-text">
            <%= @job_entry.email %>
          </div>
        </div>
      </div>
      <div class="form form-border">
        <div class="form-margin-left">
          <div class="form-text form-label">
            お電話番号
            <span class="badge rounded-pill badge-alert">必須</span>
          </div>
          <div class="form-label form-text">
            <%= @job_entry.phone_number %>
          </div>
        </div>
      </div>
      <div class="form form-border">
        <div class="form-margin-left">
          <div class="form-text form-label">
            住所
            <span class="badge rounded-pill badge-alert">必須</span>
          </div>
          <div class="form-label form-text">
            <%= @job_entry.prefecture.name %><%= @job_entry.city_name %><%= @job_entry.address %>
          </div>
        </div>
      </div>
    </div>

    <%= form_with model: @job_entry, local: true do |f| %>
      <%= f.hidden_field :recruit_type %>
      <%= f.hidden_field :name %>
      <%= f.hidden_field :name_kana %>
      <%= f.hidden_field :sex %>
      <%= f.hidden_field :birth_date %>      
      <%= f.hidden_field :email %>
      <%= f.hidden_field :phone_number %>
      <%= f.hidden_field :prefecture_id %>
      <%= f.hidden_field :city_name %>
      <%= f.hidden_field :address %>
      
      <ul class="form-btn-box form-flex">
        <li class="list-inline-item"><%= f.submit "修正する", name: "back", class: 'user-btn form-fix-btn  form-confirm-btn' %></li>
        <li class="list-inline-item"><%= f.submit "送信する", class: 'user-btn form-btn form-confirm-btn' %></li>
      </ul>
    <% end %>
  </div>
</div>



