<h1 class="h1style mb-5rem fw-bold">応募について</h1>
<div class="wrap  mb-5">
  <div class="job-entry-content ">
    <h3 class="job-entry-title text-center fw-bold">私たちの求める人材と経営理念</h3>
    <div class="text-center">
      <ul>
        <li>
          <h4 class="mb-3 wrap-mission">・私たちは飲食業に本気で携わるすべての人の地位向上を日本で1番実現すること。</h4>
        </li>
        <li>
          <h4 class="mb-3 wrap-mission">・私たちは自立し、自律して自分で現場レベルの全てのことにおいて適切な判断ができる<br>飲食のプロを育成していくことに最大限の力を注ぐこと。</h4>
        </li>
        <li>
          <h4 class="mb-3 wrap-mission">・その地域で長く愛される飲食店を作り地域社会に少しでも貢献すること。</h4>
        </li>
      </ul>
      <h4 class="fw-bold wrap-mission">
        この経営理念に共感でき、ルールを守れる方であれば、特別な資格は必要ございません。<br>
        私たちと一緒に成長しましょう。
      </h4>
    </div>
  </div>
</div>

<div class="wrap  mb-5">
  <div class="job-entry-content">
    <h3 class="job-entry-title text-center fw-bold">募集要項</h3>
    <table class="table recruit_info">
      <tbody>
        <tr>
          <th>募集年齢</th>
          <td>16~55歳くらいまで</td>
        </tr>
        <tr>
          <th>勤務地</th>
          <td>会社の指定する店舗（野田本店・香里園店）</td>
        </tr>
        <tr>
          <th>業務内容</th>
          <td>ホール・キッチン業務全般、数値管理など焼き鳥屋の運営に関する全ての業務</td>
        </tr>
        <tr>
          <th>給与</th>
          <td>未経験23万～  経験者25～  店長・マネージャー候補28～32万</td>
        </tr>
        <tr>
          <th>保険に関する事項</th>
          <td>社会保険完備</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<div class="wrap">
  <div class="job-entry-content">
    <h3 class="job-entry-title text-center fw-bold">エントリーシート</h3>
    <p class="text-center fw-bold mb-5">【業界・職種未経験／第二新卒／フリーターさんも歓迎！】<br>
      学歴不問＆前職の雇用形態なども一切問いません。<br>
      調理も接客も、すべて入社後に学べます！気軽にエントリーしてください！
    </p>
    <%= form_with model: @job_entry, url: confirm_job_entries_url(@job_entry), local: true  do |f| %>
      <div class="table-responsive">
        <table class="table job-entry-table">
          <tr>
            <th class="col-md-4">
              <div class="job-entry-label">
                <%= f.label :recruit_type %>
                <span class="badge rounded-pill text-bg-danger">必須</span>
              </div>
            </th>
            <td class="col-md-8">
              <div class="job-entry-form">
                <%= f.select :recruit_type, JobEntry.recruit_type.options, { prompt: '応募するタイプをお選びください' }, { selected: f.object.recruit_type, class: 'form-select' } %>
                <%= show_error_messages(f.object, :recruit_type) %>
              </div>
            </td>
          </tr>

          <tr>
            <th class="col-md-4">
              <div class="job-entry-label">
                <%= f.label :name %>
                <span class="badge rounded-pill text-bg-danger">必須</span>
              </div>
            </th>
            <td class="col-md-8">
              <div class="job-entry-form">
                <%= f.text_field :name, class: 'form-control', value: f.object.name %>
                <%= show_error_messages(f.object, :name) %>
              </div>
            </td>
          </tr>

          <tr>
            <th class="col-md-4">
              <div class="job-entry-label">
                <%= f.label :name_kana %>
                <span class="badge rounded-pill text-bg-danger">必須</span>
              </div>
            </th>
            <td class="col-md-8">
              <div class="job-entry-form">
                <%= f.text_field :name_kana, autocomplete: "name_kana", class: "form-control", value: f.object.name_kana %>
                <%= show_error_messages(f.object, :name_kana) %>
              </div>
            </td>
          </tr>

          <tr>
            <th class="col-md-4">
              <div class="job-entry-label">
                <%= f.label :sex %>
                <span class="badge rounded-pill text-bg-danger">必須</span>
              </div>
            </th>
            <td class="col-md-8">
              <div class="job-entry-form">
                <% JobEntry.sex.values.collect.each do |key, value| %>
                  <div class="form-check job-entry-as-radio">
                    <%= f.radio_button :sex, key, class: 'form-check-input' %>
                    <%= f.label key, value, class: 'form-check-label' %>
                  </div>
                <% end %>
                <%= show_error_messages(f.object, :sex) %>
              </div>
            </td>
          </tr>

          <tr>
            <th class="col-md-4">
              <div class="job-entry-label">
                <%= f.label :birth_date %>
                <span class="badge rounded-pill text-bg-danger">必須</span>
              </div>
            </th>
            <td class="col-md-8">
              <div class="job-entry-form birthday-wrap">
                <%= raw sprintf(
                  f.date_select(:birth_date, class: 'form-control', **@birth_date_options, value: f.object.birth_date,
                    date_separator: '%s'), '年 ', '月 ') + '日' 
                %>
                <%= show_error_messages(f.object, :birth_date) %>
              </div>
            </td>
          </tr>
          
          <tr>
            <th class="col-md-4">
              <div class="job-entry-label">
                <%= f.label :email %>
                <span class="badge rounded-pill text-bg-danger">必須</span>
              </div>
            </th>
            <td class="col-md-8">
              <div class="job-entry-form">
                <%= f.email_field :email, autocomplete: "email", class: "form-control", value: f.object.email %>
                <%= show_error_messages(f.object, :email) %>
              </div>
            </td>
          </tr>

          <tr>
            <th class="col-md-4">
              <div class="job-entry-label">
                <%= f.label :phone_number %>(ハイフン可)
                <span class="badge rounded-pill text-bg-danger">必須</span>
              </div>
            </th>
            <td class="col-md-8">
              <div class="job-entry-form">
                <%= f.text_field :phone_number, autocomplete: "phone_number", class: "form-control", value: f.object.phone_number %>
                <%= show_error_messages(f.object, :phone_number) %>
              </div>
            </td>
          </tr>
          
          <tr>
            <th class="col-md-4">
              <div class="job-entry-label">
                <%= f.label :prefecture_id %>
                <span class="badge rounded-pill text-bg-danger">必須</span>
              </div>
            </th>
            <td class="col-md-8">
              <div class="job-entry-form">
                <%= f.collection_select :prefecture_id, @prefectures, :id, :name, { prompt: "選択してください" }, { selected: f.object.prefecture_id, class: 'form-select' } %>
                <%= show_error_messages(f.object, :prefecture_id) %>
              </div>
            </td>
          </tr>

          <tr>
            <th class="col-md-4">
              <div class="job-entry-label">
                <%= f.label :city_name %>
                <span class="badge rounded-pill text-bg-danger">必須</span>
              </div>
            </th>
            <td class="col-md-8">
              <div class="job-entry-form">
                <%= f.text_field :city_name, class: 'form-control', value: f.object.city_name %>
                <%= show_error_messages(f.object, :city_name) %>
              </div>
            </td>
          </tr>

          <tr>
            <th class="col-md-4">
              <div class="job-entry-label">
                <%= f.label :address %>
                <span class="badge rounded-pill text-bg-danger">必須</span>
              </div>
            </th>
            <td class="col-md-8">
              <div class="job-entry-form">
                <%= f.text_field :address, class: 'form-control', value: f.object.address %>
                <%= show_error_messages(f.object, :address) %>
              </div>
            </td>
          </tr>
        </table>
      </div>

      <div class="job-entry-btn-box">
        <ul class="list-inline">
          <li class="list-inline-item"><%= f.submit "確認する", class: 'btn btn-primary' %></li>
        </ul>
      </div>
    <% end %>
  </div>
</div>
