<% set_meta_tags  title: '採用情報',
                  description: 'LBrestaurant株式会社の公式ホームページ。LBrestaurant株式会社の採用情報ページです。ブラックな飲食業界を変える！店長の高収入×店長の人間らしい生活を同時に達成する。',
                  canonical: 'https://lbrestaurant.net/job_entries/',
                  og: {
                    title: '採用情報 | LBrestaurant(株式会社)公式サイト(暖簾分け希望者、求職者募集中!)',
                    description: 'LBrestaurant株式会社の公式ホームページ。LBrestaurant株式会社の採用情報ページです。ブラックな飲食業界を変える！店長の高収入×店長の人間らしい生活を同時に達成する。',
                    type: 'article',
                    url: 'https://lbrestaurant.net/job_entries/'
                  }
%>

<%= render partial: 'public/shared/section-title', locals: { section_title: '採用情報' } %>
<div class="job-profile-wrap">
  <div class="job-profile-content">
    <div class="job-profile-title"><%= image_tag('job_entry/profile-title.png', class: 'profile-title-img sm-max-img') %></div>
    <div class="job-profile-text">
      <p>１つでも当てはまっていたら<br class="sm-display">迷わずご応募ください！</p>
      <p>もしくは<span class="alert-text">見た人特典</span>から、<br class="sm-display">社長と食事しながらざっくばらんに話しましょう！</p>
    </div>
    <div class="job-profile-card">
      <div class="profile-card-text"><i class="fa-regular fa-circle-check alert-text profile-card-icon"></i><p>チャンスを物にできる人/チャンスを物にできる人になりたい人</p></div>
      <div class="profile-card-text"><i class="fa-regular fa-circle-check alert-text profile-card-icon"></i><p>凡事徹底/率先垂範できる人</p></div>
      <div class="profile-card-text"><i class="fa-regular fa-circle-check alert-text profile-card-icon"></i><p>言い訳をしない人</p></div>
      <div class="profile-card-text"><i class="fa-regular fa-circle-check alert-text profile-card-icon"></i><p>夢がある、もしくは何でもいいから頑張る理由がある人</p></div>
      <div class="profile-card-text"><i class="fa-regular fa-circle-check alert-text profile-card-icon"></i><p>サプライズなど人を喜ばすのが好きな人</p></div>
      <div class="profile-card-text"><i class="fa-regular fa-circle-check alert-text profile-card-icon"></i><p>料理と接客と経営を全部学びたい人</p></div>
      <div class="profile-card-text"><i class="fa-regular fa-circle-check alert-text profile-card-icon"></i><p>1-2年で独立したい人（もっと早くしたい人も可）</p></div>
      <div class="profile-card-text"><i class="fa-regular fa-circle-check alert-text profile-card-icon"></i><p>将来起業したい人</p></div>
      <div class="profile-card-text"><i class="fa-regular fa-circle-check alert-text profile-card-icon"></i><p>コミュ力に自信あってそれを活かして仕事したい人</p></div>
    </div>
  </div>
</div>
<div class="job-system-wrap">
  <div class="job-system-content">
    <div class="job-system-title"><%= image_tag('job_entry/system-title.png', class: 'system-title-img sm-max-img') %></div>
    <div class="job-system-text">
      <p>他の企業にはない<br class="sm-display">LBR独自の制度があります!</p>
    </div>
    <div class="job-system-card">
      <p class="job-system-card-subtitle">制度1</p>
      <div class="job-system-card-title"><%= image_tag('job_entry/system-card-title1.png', class: 'system-card-title1-img sm-max-img') %></div>
      <div class="job-system-card-text job-system-card-text-margin">
        <p>
          体験入店。実際に働くとどうなるのか？どんな会社なのか？実際に体験してみてください！<br>
          仕事後は役員と軽く食事でもいきましょう！
        </p>
      </div>
      <div class="premium-link">
        <%= link_to '詳しく見る', premium_lbr_index_path, class: 'user-btn system-premium-btn' %>
      </div>
      <p class="job-system-card-subtitle">制度2</p>
      <div class="job-system-card-title"><%= image_tag('job_entry/system-card-title2.png', class: 'system-card-title2-img sm-max-img') %></div>
      <div class="job-system-card-text">
        <p>内定後、圧倒的なポテンシャルを見せていただいた方にのみ付与。<br class="display">当社規定のタイミングでいつでも入社することができます!</p>
        <p class="job-system-card-sub-text">※例)弊社内定後、3年以内であれば別の会社に就職していても、弊社へ再度エントリーなしで転職可能!</p>
      </div>
    </div>
  </div>
</div>
<div class="job-carrer-step-wrap">
  <div class="job-carrer-step-content">
    <div class="job-carrer-step-title"><%= image_tag('job_entry/carrer-step-title.png', class: 'job-carrer-step-title-img sm-max-img') %></div>
    <div class="job-carrer-step-text">
      <p>LBレストランでは社員に合わせたキャリアステップを用意しています</p>
    </div>
    <div><%= image_tag('job_entry/carrer-step.png', class: 'job-carrer-step-img') %></div>
  </div>
</div>
<div class="job-entry-wrap">
  <div class="job-entry-content">
    <div class="job-entry-title"><%= image_tag('job_entry/entry-title.png', class: 'enrtry-title-img sm-max-img') %></div>
    <div class="job-entry-card">
      <div class="job-entry-card-text-box">
        <div class="job-entry-card-text-icon-sm">
          <div class="job-entry-card-text-icon">年齢</div>
        </div>
        <p class="job-entry-card-text">18~40歳ぐらいまで歓迎</p>
      </div>
      <div class="job-entry-card-text-box">
        <div class="job-entry-card-text-icon-sm">
          <div class="job-entry-card-text-icon">勤務地</div>
        </div>
        <p class="job-entry-card-text">
          直営店舗大阪中心<br>
          ※地方からの転居や、店舗近隣への転居者には、引越し手当て支給。自転車圏内で通えるサポートをしています。 勤務地は、希望を考慮したうえで決めていきます。
        </p>
      </div>
      <div class="job-entry-card-text-box">
        <div class="job-entry-card-text-icon-sm">
          <div class="job-entry-card-text-icon">仕事内容</div>
        </div>
        <p class="job-entry-card-text">キッチン・ホールの仕事からスタートしていただきますが、並行して新たなメニューやお客様向けのキャンペーン、社内制度の企画など、店舗運営に関わるすべての業務に携わっていただきます。</p>
      </div>
      <div class="job-entry-card-text-box">
        <div class="job-entry-card-text-icon-sm">
          <div class="job-entry-card-text-icon">給与</div>
        </div>
        <p class="job-entry-card-text">
          月給28万円以上（一率手当含）  ※試用期間6ヶ月あり〔契約社員〕 ※経験や年齢を考慮し決定します。 <br>
          ※上記金額には、みなし残業45時間分（8万円以上）を含みます。超過分は別途支給します。
        </p>
      </div>
      <div class="job-entry-card-text-box">
        <div class="job-entry-card-text-icon-sm">
          <div class="job-entry-card-text-icon">福利厚生</div>
        </div>
        <p class="job-entry-card-text">社会保険完備</p>
      </div>
    </div>
    <div class="job-entry-link">
      <%= link_to 'エントリーはこちら', new_job_entry_path, class: 'user-btn job-entry-btn' %>
    </div>
  </div>
</div>
