<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://kit.fontawesome.com/50cd9f29f3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= vite_stylesheet_tag 'public.scss' %>
    <%= vite_client_tag %>
    <%= vite_typescript_tag 'application' %>
    <%= vite_react_refresh_tag %>
    <%= display_meta_tags(default_meta_tags) %>
  </head>
  <body>
    <%= render 'public/shared/header' %>
    <div class="contents">
      <main>
        <%= yield %>
      </main>
    </div>
    <%= render 'public/shared/footer' %>
  </body>
</html>
